<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="icon" href="images/icon_hippo.png">
    <title>Hungry Hippo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cards.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light" style="width: 100%; position: fixed;">
      <a class="navbar-brand" href="#">
        <img src="/images/hippo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Hungry Hippo</a>
                <!-- Button trigger modal -->
        <button id="cartbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Cart
        </button>
    </nav>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ol>

                      </ol>
                      <!-- <input type="text" name="comments"> -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Send Order</button>
                    </div>
                  </div>
                </div>
              </div>



    <div class="top-pic">
     <img src="/images/background.png" style="width: 100%; background-image: initial; padding: 20px">
    </div>


    <div class="banner-wrap gutter-top">
      <div class="banner-inner">
        <h2 class="banner">Food  + Drink</h2>
      </div>
    </div>
    <div>
      <h3 class="text-center gutter-bottom">
          <hr class="hr-text" data-content="Eat a little. Eat a lot.">
      </h3>
    </div>

    <div class="text-center wrapper-gutter-bottom sm-large">
      <p>
        Lunch, Dinner or Late Night. Our menu is diverse,&nbsp;interesting, and full of
        flavour. Whether you’re here midweek for a quick business lunch, or on Friday night
        for drinks and dinner with friends; we’ve created a menu that caters to those occasions and moods.
      </p>
      <p>
        Our menu is inspired by the world around us - both near and far. From chefs in London,
        to farmers in our local regions &nbsp;- our partners and inspirations inform our choices and our offer to you.
      </p>
      <p>
        Serious cocktails, beer (craft &amp; local!), and wine. Our Kitchen has a bar - it’s time to toast!
      </p>
    </div>

    <main class="container">
    <div>
        <hr class="hr-text" data-content="Salads &amp; Soups">
    </div>
      <div class="card-deck">
        <% results.forEach(function(result) { if (result.classification == "Soup_Salad") { %>
          <div class="d-inline-flex p-2 mx-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="<%=result.picture%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%=result.name%></h5>
                <p class="card-text"><%= result.description%></p>
                <span>$<%=result.price%></span>
                <input id='quantity' type="number" name="itemQuantity" value="1" min="1" max="5">
                <a id="addToCart<%=result.id%>" class="btn btn-md btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <% }; %>
        <%})%>
        <hr class="hr-text" data-content="Mains">
        <% results.forEach(function(result) { if (result.classification == "Main") { %>
          <div class="d-inline-flex p-2 mx-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="<%=result.picture%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%=result.name%></h5>
                <p class="card-text"><%= result.description%></p>
                <span>$<%=result.price%></span>
                <input id='quantity' type="number" name="itemQuantity" value="1" min="1" max="5">
                <a id="addToCart<%=result.id%>" class="btn btn-md btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <% }; %>
        <%})%>
        <hr class="hr-text" data-content="Sides">
        <% results.forEach(function(result) { if (result.classification == "Side") { %>
          <div class="d-inline-flex p-2 mx-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="<%=result.picture%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%=result.name%></h5>
                <p class="card-text"><%= result.description%></p>
                <span>$<%=result.price%></span>
                <input id='quantity' type="number" name="itemQuantity" value="1" min="1" max="5">
                <a id="addToCart<%=result.id%>" class="btn btn-md btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <% }; %>
        <%})%>
        <hr class="hr-text" data-content="Dessert">
        <% results.forEach(function(result) { if (result.classification == "Dessert") { %>
          <div class="d-inline-flex p-2 mx-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="<%=result.picture%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%=result.name%></h5>
                <p class="card-text"><%= result.description%></p>
                <span>$<%=result.price%></span>
                <input id='quantity' type="number" name="itemQuantity" value="1" min="1" max="5">
                <a  id="addToCart<%=result.id%>" class="btn btn-md btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <% }; %>
        <%})%>
      </div>
    </main>
    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand"></a></p1>2018 © Hungry Hippo Ltd.</p1>
      </nav>
    </footer>
    </div>
  </body>
</html>
